<!DOCTYPE html>
<html lang="en">
{% block content %}
{% load static %}
<head>
    <title>TAI</title>
    <link rel="icon" href="{% static 'myCarbonApp/favicon.ico' %}" />
    <link href = "{% static 'myCarbonApp/bootstrap-5.0.0-beta3-dist/css/bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'myCarbonApp/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css' %}" rel = "stylesheet">
    <link href = "{% static 'myCarbonApp/bootstrap-5.0.0-beta3-dist/css/bootstrap-utilities.css' %}" rel = "stylesheet">
    <link href = "{% static 'myCarbonApp/css/Style.css' %}" rel = "stylesheet">
    <link href = "{% static 'myCarbonApp/css/styleOffsetNow.css' %}" rel = "stylesheet">
    <meta name = "viewport" content = "device-width, initial-scale = 1.0">
</head>
<body>
<div style="text-align:center" id="navbar_background">
    <div class="navbar">
        <div class="navbar-content">
            <ul class="menu">
                <li><a class="active" href = "{% url 'myCarbonApp:home' %}">Home</a></li>
                <li><a href = "{% url 'myCarbonApp:home' %}#activities">About Us</a></li>
                <li><a href = "#">Projects</a></li>
                <li><a href = "{% url 'myCarbonApp:offset-now' %}">Buy Offsets</a></li>
                <li><a href = "#contacts">Contact Us</a></li>
                <li>
                    {% if request.user.is_authenticated %}
                        <a href = "{% url 'myCarbonApp:logout' %}">Logout</a>
                    {% else %}
                        <a href = "{% url 'myCarbonApp:index' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="overall_offsets" class = "container">
    <div id="buy-offsets-page" class="column">
        <div id="buy-offsets-div1">
            <div id="contentOffsets">
                <div>
                    <h1>Projects By TAI</h1>
                    <h5>Checkout our projects and donate to support</h5>
                </div>
            </div>
        </div>
        <div id="buy-offsets-div2">
            <div>
                <div id="subtitle">
                    <h3>
                        Our aim is to impact positive change on the world through
                        various projects that contribute to the African community and the world
                    </h3>
                </div>
                <div class="buy-offsets-mini-div">
                    <div>
                        <p>PROJECT 1</p>
                    </div>
                </div>
                <div class="buy-offsets-mini-div">
                    <div>
                        <p>PROJECT 1</p>
                    </div>
                </div>
                <div class="buy-offsets-mini-div">
                    <div>
                        <p>PROJECT 1</p>
                    </div>
                </div>
                <div class="buy-offsets-mini-div">
                    <div>
                        <p>PROJECT 1</p>
                    </div>
                </div>
                <div class="buy-offsets-mini-div">
                    <div>
                        <p>PROJECT 1</p>
                    </div>
                </div>
                <div class="buy-offsets-mini-div">
                    <div>
                        <p>PROJECT 1</p>
                    </div>
                </div>
                <div class="buy-offsets-mini-div">
                    <div>
                        <p>DONATE!</p>
                    </div>
                    <div>
                        <p>Set Donation Amount</p>
                        <form method="post">
                            <label>In Ksh (Kenya Shillings)</label>
                            <input type="number" placeholder="Enter value" name="amount" id="amount"/>
                            <input type="submit" value="Ok"/>
                        </form>
                    </div>
                </div>
            </div>
            <div id="footer" class="footer" style="color:white;">
                <div id = "newsLOffset" class = "row-md-6">
                    <div id = "newsletter">
                        <h3>Register below to receive our newsletters</h3><br/>
                        <button id="buttonStyleNewsletter" onclick = "openForm3();">Register</button>
                    </div>
                    <div id="my-form3">
                        <form action="./Home_page.html" class="form_container" method = "POST">
                            <h2 style="color:green;">{{message}}</h2>
                            <input type = "text" size = "40" placeholder = "Enter Name" name="name"/><br/>
                            <input type = "text" size = "40" placeholder = "Email e.g johndoe@gmail.com" name="email"><br/>
                            <button type = "submit" value = "Submit" class="btn" onclick = "sentConfirm();">Register</button><!--onsubmit = ""-->
                            <button type = "button" class="btn-cancel" onclick="closeForm3();">Cancel</button>
                        </form>
                    </div>
                </div>
                <div id = "contacts" class = "row-md-6">
                    <h2 style="text-align:center;color:#a3bded;">Contact Us For More</h2>

                    <address style = "font-family:sans-serif;">
                    <table>
                        <tr>
                            <td><a class="contactsText" href = "mailto:taicorp254@gmail.com" target = "_blank"><img class="contactsIcons" src="{% static 'myCarbonApp/img/gmail.PNG' %}"/>Gmail</a></td>
                            <td><a class="contactsText" href = "twitter.com/account/@TAI" target = "_blank"><img class="contactsIcons" src="{% static 'myCarbonApp/img/twitter.PNG' %}"/>Twitter</a></td>
                            <td><a class="contactsText" href = "" target = "_blank"><img class="contactsIcons" src="{% static 'myCarbonApp/img/facebook.PNG' %}"/>Facebook</a></td>
                            <td><a class="contactsText" href = "tel:+2547********" target = "_blank"><img class="contactsIcons" src="{% static 'myCarbonApp/img/phone.png' %}"/>Phone</a></td>
                        </tr>
                    </table>
                    </address>

                </div>
                <div>
                    <p style="font-size:15px;text-align:left;">Invest a Tree is a Kenyan-based business that aims to promote sustainable farming practices and combat climate change.
                Our decentralized platform allows individuals and businesses to easily purchase carbon offsets from smallholder farmers in Kenya.
                In addition, we provide tree management services to ensure the survival and growth of planted trees.
                We also offer fundraising option for tree planting campaigns, allowing individuals and organizations to contribute to reforestation
                efforts in Kenya.</p>
                </div>
                <div style="text-align:center">
                    <button onclick = "window.location.href = '#overall_offsets'" class="page-direction"><img class="page-direction-image" alt="Back to the top" src="{% static 'myCarbonApp/img/upArrow.PNG' %}"/></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function sentConfirm()
    {
        alert("You Will Now Receive Newsletters From TAI!");
    }
    function openForm3()
    {
        document.getElementById("my-form3").style.display="block";
    }
    function closeForm3()
    {
        document.getElementById("my-form3").style.display="none";
    }
    var element = document.querySelectorAll(".menu a");
    var length = element.length;
    for(var i=0; i<length;i++){
        element[i].onclick=function(){
        var b=document.querySelector(".menu a.active");
        if(b) b.classList.remove("active");
        this.classList.add('active');
    };
    }
</script>
</body>
{% endblock %}
</html>