<!DOCTYPE html>
<html>
{% block content %}
{% load static %}
<head>
<title>TAI</title>
<link rel="icon" href="{% static 'myCarbonApp/favicon.ico' %}" />
<link href = "{% static 'myCarbonApp/bootstrap-5.0.0-beta3-dist/css/bootstrap.css' %}" rel = "stylesheet">
<link href = "{% static 'myCarbonApp/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css' %}" rel = "stylesheet">
<link href = "{% static 'myCarbonApp/bootstrap-5.0.0-beta3-dist/css/bootstrap-utilities.css' %}" rel = "stylesheet">
<link href = "{% static 'myCarbonApp/css/Style.css' %}" rel = "stylesheet">
<link href = "{% static 'myCarbonApp/css/styleOffsetNow.css' %}" rel = "stylesheet">

<meta name = "viewport" content = "device-width, initial-scale = 1.0">

</head>
<body>
<div style="text-align:center" id="navbar_background">
    <div class="navbar">
        <div class="navbar-content">
            <ul class="menu">
                <li><a class="active" href = "#overall_background2">Home</a></li>
                <li><a href = "#activities">About Us</a></li>
                <li><a href = "{% url 'myCarbonApp:projects' %}">Projects</a></li>
                <li><a href = "{% url 'myCarbonApp:offset-now' %}">Buy Offsets</a></li>
                <li><a href = "#contacts">Contact Us</a></li>
                <li>
                    {% if request.user.is_authenticated %}
                        {% if userprofile.profile_picture %}
                            <a  href = "{% url 'myCarbonApp:user-profile' %}"><img class="profileIcon" src="{{userprofile.profile_picture.url}}" alt="Profile" style="max-height:20px;max-width:20px;"/></a>
                        {% else %}
                            <a  href = "{% url 'myCarbonApp:user-profile' %}"><img class="profileIcon" src="{% static 'myCarbonApp/img/person.jpeg' %}"/></a>
                        {% endif %}
                        <a href = "{% url 'myCarbonApp:logout' %}">Logout</a>
                    {% else %}
                        <a href = "{% url 'myCarbonApp:index' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class = "container" id = "overall_background">
    <hr/>
    <div id = "overall_background2">
        <div class = "column" id = "cde">
            <div id = "div1" class = "row-md-6">
                <div class="slideshow">
                    <h1 id="mainTitle">Welcome to TAI</h1></br>
                    <h3 style="color:#c2e9fb;margin-left:30px;">Redefining Forests</h3>
                    <p id="mainDescription">%document the main description here%</p>
                </div>
            </div>

            <div id = "activities" class = "row-md-6">
                <h2 style="text-align:center; color:green;text-decoration:underline;"><strong>Who Is TAI?</strong></h2><br/>
                <p>Invest a Tree is a Kenyan-based business that aims to promote sustainable farming practices and combat climate change.
                Our decentralized platform allows individuals and businesses to easily purchase carbon offsets from smallholder farmers in Kenya.
                In addition, we provide tree management services to ensure the survival and growth of planted trees.
                We also offer fundraising option for tree planting campaigns, allowing individuals and organizations to contribute to reforestation
                efforts in Kenya.
                Join us in our mission to make a positive impact on the environment and support local communities.</p>
            </div>

            <div id = "users" class = "row-md-6">
                <h2 style="text-align:center; color:#a3bded;text-decoration:underline;"><strong>OUR TARGET GROUPS</strong></h2><br/><br/>
                <h3 class="benefitsSubtitles">Farmers And Tree Campaigners</h3>
                <p>Users can register their products and projects for consideration and verification to be considered in carbon trading</p>
                <hr/><h3 class="benefitsSubtitles">Researchers And Tree Enthusiasts</h3>
                <p>For a fee, they can access information about tree research and relevant materials needed.</p>
                <hr/><h3 class="benefitsSubtitles">Environmentalists</h3>
                <p>These groups can create a tree growing fundraiser where people can donate. Tai will then charge a certain percentage on the amount raised.</p>
            </div>

            <div id = "goals" class = "row-md-6">
                <h2 style="text-align:center; color:green;text-decoration:underline;"><strong>OUR GOALS</strong></h2><br/><br/>
                <h3 class="goalsSubtitles">Tree Fundraising</h3>
                <p>Allows campaigners to create a funding call for investment and donations in their tree planting campaigns</p>
                <hr/><h3 class="goalsSubtitles">Tree Management</h3>
                <p>Allows access to tree information including: history, type, areas suitable for growth and amount of CO<sub>2</sub> offset by the tree</p>
                <hr/><h3 class="goalsSubtitles">Carbon Offsets Trading</h3>
                <p>Allow corporations to get carbon credits certificates at a fee and certification of the tree growers to trade their offsets for money</p>
            </div>
            <div id = "benefits" class = "row-md-6">
                <h2 style="text-align:center; color:#a3bded;text-decoration:underline;"><strong>WHY US?</strong></h2><br/><br/>
                <h3 class="benefitsSubtitles">Sustainable Carbon Offsets</h3>
                <p>Choose invest a tree to offset your carbon footprint and contribute to reforestation efforts in Kenya</p>
                <a href="{% url 'myCarbonApp:offset-now' %}" style="text-decoration:none;color:#66FF00;text-decoration-underline:true;">Offset today</a>
                <hr/><h3 class="benefitsSubtitles">Reliable Tree Management</h3>
                <p>Choose Invest A Tree for professional tree management services and start growing your trees today</p>
		        <a href="#" style="text-decoration:none;color:#66FF00;text-decoration-underline:true;">Grow now</a>
                <hr/><h3 class="benefitsSubtitles">Local Community Support</h3>
                <p>Choose Invest A Tree to make a positive impact on the enviroment and support local communities in Kenya</p>
		        <a href="#" style="text-decoration:none;color:#66FF00;text-decoration-underline:true;">Empower farmers</a>
            </div>

            <div id = "newsL" class = "row-md-6">
                <div id = "newsletter">
                    <h3>Register below to receive our newsletters</h3></br>
                    <button id="buttonStyleNewsletter" onclick = "openForm3();">Register</button>
                </div>
                <div id="my-form3">
                    <form action="./Home_page.html" class="form_container" method = "POST">
                        <h2>{{message}}</h2>
                        <input type = "text" size = "40" placeholder = "Enter Name" name="name"/></br>
                        <input type = "text" size = "40" placeholder = "Email e.g johndoe@gmail.com" name="email"></br>
                        <button type = "submit" value = "Submit" class="btn" onclick = "sentConfirm();">Register</button><!--onsubmit = ""-->
                        <button type = "button" class="btn-cancel" onclick="closeForm3();">Cancel</button>
                    </form>
                </div>
            </div>
            <div id = "contacts" class = "row-md-6">
                <h2 style="text-align:center;color:#a3bded;">Contact Us For More</h2>
                <p><address style = "font-family:sans-serif;">
                <table>
                    <tr>
                        <td><a class="contactsText" href = "mailto:taicorp254@gmail.com" target = "_blank"><img class="contactsIcons" src="{% static 'myCarbonApp/img/gmail.PNG' %}"/>Gmail</a></td>
                        <td><a class="contactsText" href = "twitter.com/account/@TAI" target = "_blank"><img class="contactsIcons" src="{% static 'myCarbonApp/img/twitter.PNG' %}"/>Twitter</a></td>
                        <td><a class="contactsText" href = "" target = "_blank"><img class="contactsIcons" src="{% static 'myCarbonApp/img/facebook.PNG' %}"/>Facebook</a></td>
                        <td><a class="contactsText" href = "tel:+2547********" target = "_blank"><img class="contactsIcons" src="{% static 'myCarbonApp/img/phone.png' %}"/>Phone</a></td>
                    </tr>
                </table>
                </address></p>
            </div>
            <div style="text-align:center">
                <button onclick = "window.location.href = '#overall_background2'" class="page-direction"><img class="page-direction-image" alt="Back to the top" src="{% static 'myCarbonApp/img/upArrow.PNG' %}"/></button>
            </div>
        </div>
    </div>

</div>
<script type = "text/javascript">
function sentConfirm()
{
	alert("You Will Now Receive Newsletters From TAI!");
}
function openForm3()
{
	document.getElementById("my-form3").style.display="block";
}
function closeForm3()
{
	document.getElementById("my-form3").style.display="none";
}
var element = document.querySelectorAll(".menu a");
var length = element.length;
for(var i=0; i<length;i++){
    element[i].onclick=function(){
    var b=document.querySelector(".menu a.active");
    if(b) b.classList.remove("active");
    this.classList.add('active');
};
}
</script>
</body>
{% endblock %}
</html>